/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
#fancarousel {
    position: relative;
    overflow: hidden;
    padding-left:20px;
    min-height:300px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
#fancarousel ul {
    width: 100%;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
#fancarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    position:relative;
    margin:15px;
    width:28%;
    height:120px;
}

#fancarousel img {
   width:100%;
}
#fancarousel div {
    background-color: black;
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    line-height: 1.6em;
    opacity: 0.35;
    position: absolute;
    text-align: center;
    width: 100%;
}
#fancarousel .next {
    background: url("/themes/gdao-theme/images/next-horizontal.png");
    position: absolute;
    right: 0px;
    top: 35%;
    min-width:30px;
    min-height:30px;
    cursor:pointer;
}
#fancarousel .prev {
    background: url("/themes/gdao-theme/images/prev-horizontal.png");
    position: absolute;
    left: 0px;
    top: 35%;
    min-width:30px;
    min-height:30px;
    cursor:pointer;
}

